.spectrum--express {
  --spectrum-accent-color-100: var(--spectrum-indigo-100);
  --spectrum-accent-color-200: var(--spectrum-indigo-200);
  --spectrum-accent-color-300: var(--spectrum-indigo-300);
  --spectrum-accent-color-400: var(--spectrum-indigo-400);
  --spectrum-accent-color-500: var(--spectrum-indigo-500);
  --spectrum-accent-color-600: var(--spectrum-indigo-600);
  --spectrum-accent-color-700: var(--spectrum-indigo-700);
  --spectrum-accent-color-800: var(--spectrum-indigo-800);
  --spectrum-accent-color-900: var(--spectrum-indigo-900);
  --spectrum-accent-color-1000: var(--spectrum-indigo-1000);
  --spectrum-accent-color-1100: var(--spectrum-indigo-1100);
  --spectrum-accent-color-1200: var(--spectrum-indigo-1200);
  --spectrum-accent-color-1300: var(--spectrum-indigo-1300);
  --spectrum-accent-color-1400: var(--spectrum-indigo-1400);
  --spectrum-heading: var(--spectrum-font-black-default);
  --spectrum-heading-emphasized: var(--spectrum-font-black-italic-default);
  --spectrum-cjk-heading: var(--spectrum-font-black-cjk);
  --spectrum-border-width-100: 2px;
}
