.spectrum {
  --spectrum-accent-color-100: var(--spectrum-blue-100);
  --spectrum-accent-color-200: var(--spectrum-blue-200);
  --spectrum-accent-color-300: var(--spectrum-blue-300);
  --spectrum-accent-color-400: var(--spectrum-blue-400);
  --spectrum-accent-color-500: var(--spectrum-blue-500);
  --spectrum-accent-color-600: var(--spectrum-blue-600);
  --spectrum-accent-color-700: var(--spectrum-blue-700);
  --spectrum-accent-color-800: var(--spectrum-blue-800);
  --spectrum-accent-color-900: var(--spectrum-blue-900);
  --spectrum-accent-color-1000: var(--spectrum-blue-1000);
  --spectrum-accent-color-1100: var(--spectrum-blue-1100);
  --spectrum-accent-color-1200: var(--spectrum-blue-1200);
  --spectrum-accent-color-1300: var(--spectrum-blue-1300);
  --spectrum-accent-color-1400: var(--spectrum-blue-1400);
  --spectrum-heading: var(--spectrum-font-bold-default);
  --spectrum-heading-emphasized: var(--spectrum-font-bold-italic-default);
  --spectrum-cjk-heading: var(--spectrum-font-extra-bold-cjk);
  --spectrum-border-width-100: 1px;
}
