
.spectrum-Tag {
  --spectrum-tag-s-removable-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tag-s-texticon-border-size: var(--spectrum-alias-tag-border-size-default);
  --spectrum-tag-s-texticon-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tag-s-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tag-s-texticon-focusring-border-size: var(--spectrum-alias-tag-focusring-size);
  --spectrum-tag-s-texticon-height: var(--spectrum-alias-tag-height-s);
  --spectrum-tag-s-texticon-padding-right: var(--spectrum-alias-tag-padding-right-s);
  --spectrum-tag-s-texticon-border-radius: var(--spectrum-alias-tag-border-radius);
  --spectrum-tag-s-texticon-padding-left: var(--spectrum-global-dimension-size-85);
  --spectrum-tag-s-textonly-padding-right: var(--spectrum-alias-tag-padding-right-s);
  --spectrum-tag-s-textonly-padding-left: var(--spectrum-global-dimension-size-115);
  --spectrum-tag-m-texticon-padding-left: undefined;
  --spectrum-tag-m-removable-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tag-m-texticon-border-size: var(--spectrum-alias-tag-border-size-default);
  --spectrum-tag-m-texticon-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-tag-m-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tag-m-texticon-focusring-border-size: var(--spectrum-alias-tag-focusring-size);
  --spectrum-tag-m-texticon-height: var(--spectrum-alias-tag-height-m);
  --spectrum-tag-m-texticon-padding-right: var(--spectrum-alias-tag-padding-right-m);
  --spectrum-tag-m-texticon-border-radius: var(--spectrum-alias-tag-border-radius);
  --spectrum-tag-m-textonly-padding-right: var(--spectrum-alias-tag-padding-right-m);
  --spectrum-tag-m-textonly-padding-left: var(--spectrum-global-dimension-size-150);
  --spectrum-tag-l-removable-texticon-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tag-l-texticon-border-size: var(--spectrum-alias-tag-border-size-default);
  --spectrum-tag-l-texticon-icon-gap: var(--spectrum-global-dimension-size-115);
  --spectrum-tag-l-texticon-text-line-height: var(--spectrum-alias-component-text-line-height);
  --spectrum-tag-l-texticon-focusring-border-size: var(--spectrum-alias-tag-focusring-size);
  --spectrum-tag-l-texticon-height: var(--spectrum-alias-tag-height-l);
  --spectrum-tag-l-texticon-padding-right: var(--spectrum-alias-tag-padding-right-l);
  --spectrum-tag-l-texticon-border-radius: var(--spectrum-alias-tag-border-radius);
  --spectrum-tag-l-texticon-padding-left: var(--spectrum-global-dimension-size-160);
  --spectrum-tag-l-textonly-padding-right: var(--spectrum-alias-tag-padding-right-l);
  --spectrum-tag-l-textonly-padding-left: var(--spectrum-global-dimension-size-185);
  --spectrum-tag-m-texticon-focusring-border-color-key-focus: var(--spectrum-alias-tag-focusring-border-color-key-focus);
  --spectrum-tag-s-texticon-text-color: var(--spectrum-alias-tag-text-color-default);
  --spectrum-tag-s-texticon-background-color: var(--spectrum-alias-tag-background-color-default);
  --spectrum-tag-s-texticon-border-color: var(--spectrum-alias-tag-border-color-default);
  --spectrum-tag-s-removable-texticon-icon-color: var(--spectrum-alias-tag-icon-color-default);
  --spectrum-tag-s-texticon-background-color-hover: var(--spectrum-alias-tag-background-color-hover);
  --spectrum-tag-s-texticon-text-color-hover: var(--spectrum-alias-tag-text-color-hover);
  --spectrum-tag-s-texticon-border-color-hover: var(--spectrum-alias-tag-border-color-hover);
  --spectrum-tag-s-removable-texticon-icon-color-hover: var(--spectrum-alias-tag-icon-color-hover);
  --spectrum-tag-s-texticon-background-color-key-focus: var(--spectrum-alias-tag-background-color-key-focus);
  --spectrum-tag-s-texticon-border-color-key-focus: var(--spectrum-alias-tag-border-color-key-focus);
  --spectrum-tag-s-texticon-focusring-border-width: var(--spectrum-alias-focus-ring-size);
  --spectrum-tag-s-texticon-focusring-border-color-key-focus: var(--spectrum-alias-tag-focusring-border-color-key-focus);
  --spectrum-tag-s-texticon-text-color-key-focus: var(--spectrum-alias-tag-text-color-key-focus);
  --spectrum-tag-s-removable-texticon-icon-color-key-focus: var(--spectrum-alias-tag-icon-color-hover);
  --spectrum-tag-s-texticon-background-color-selected: var(--spectrum-alias-tag-background-color-selected-default);
  --spectrum-tag-s-texticon-text-color-selected: var(--spectrum-alias-tag-text-color-selected);
  --spectrum-tag-s-texticon-border-color-selected: var(--spectrum-alias-tag-background-color-selected-default);
  --spectrum-tag-s-texticon-icon-color-selected: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-tag-s-removable-texticon-icon-color-selected: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-tag-s-texticon-background-color-selected-hover: var(--spectrum-alias-tag-background-color-selected-hover);
  --spectrum-tag-s-removable-texticon-icon-color-selected-hover: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-alias-focus-ring-size: var(--spectrum-global-dimension-static-size-25);
  --spectrum-tag-s-texticon-focusring-border-color-selected-key-focus: var(--spectrum-alias-tag-focusring-border-color-selected-key-focus);
  --spectrum-tag-s-texticon-text-color-selected-key-focus: var(--spectrum-alias-tag-text-color-selected);
  --spectrum-tag-s-removable-texticon-icon-color-selected-key-focus: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-tag-s-texticon-border-color-error-selected: var(--spectrum-alias-tag-border-color-error-selected);
  --spectrum-tag-s-texticon-background-color-error-selected: var(--spectrum-alias-tag-background-color-error-selected-default);
  --spectrum-tag-s-removable-texticon-text-color-error-selected: var(--spectrum-alias-tag-text-color-selected);
  --spectrum-tag-s-removable-texticon-icon-color-error-selected: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-tag-s-texticon-border-color-error-selected-key-focus: var(--spectrum-alias-tag-border-color-error-selected);
  --spectrum-tag-s-texticon-border-color-error-selected-hover: var(--spectrum-alias-tag-border-color-error-selected);
  --spectrum-tag-s-texticon-background-color-error-selected-hover: var(--spectrum-alias-tag-background-color-error-selected-hover);
  --spectrum-tag-s-texticon-icon-color-error-selected-hover: var(--spectrum-alias-tag-icon-color-selected);
  --spectrum-tag-s-texticon-icon-color-error: var(--spectrum-global-color-red-600);
  --spectrum-tag-s-texticon-border-color-error: var(--spectrum-alias-tag-border-color-error-default);
  --spectrum-tag-s-texticon-icon-color-error-hover: var(--spectrum-global-color-red-700);
  --spectrum-tag-s-texticon-border-color-error-hover: var(--spectrum-alias-tag-border-color-error-hover);
  --spectrum-tag-s-texticon-icon-color-error-key-focus: var(--spectrum-global-color-red-700);
  --spectrum-tag-s-removable-texticon-icon-color-error: var(--spectrum-global-color-red-600);
  --spectrum-tag-s-texticon-text-color-disabled: var(--spectrum-alias-tag-text-color-disabled);
  --spectrum-tag-s-texticon-background-color-disabled: var(--spectrum-alias-tag-background-color-disabled);
  --spectrum-tag-s-texticon-border-color-disabled: var(--spectrum-alias-tag-border-color-disabled);
  --spectrum-avatar-size-100-opacity-disabled: var(--spectrum-global-color-opacity-30);
  --spectrum-tag-s-texticon-icon-color-disabled: var(--spectrum-alias-tag-icon-color-disabled);
  --spectrum-tag-s-removable-texticon-icon-color-disabled: var(--spectrum-alias-tag-icon-color-disabled);
  --spectrum-tag-s-removable-texticon-text-color-hover: var(--spectrum-alias-tag-text-color-hover);
  --spectrum-tag-s-removable-texticon-text-color-down: var(--spectrum-alias-tag-text-color-down);
  --spectrum-tag-s-removable-texticon-icon-color-down: var(--spectrum-alias-tag-icon-color-down);
  --spectrum-tag-s-removable-texticon-border-color-error-hover: var(--spectrum-alias-tag-border-color-error-hover);
  --spectrum-tag-s-removable-texticon-text-color-error-hover: var(--spectrum-alias-tag-text-color-error-hover);
  --spectrum-tag-s-removable-texticon-icon-color-error-hover: var(--spectrum-global-color-red-700);
  --spectrum-tag-s-removable-texticon-border-color-error-down: var(--spectrum-alias-tag-border-color-error-down);
  --spectrum-tag-s-removable-texticon-text-color-error-down: var(--spectrum-alias-tag-text-color-error-down);
  --spectrum-tag-s-removable-texticon-icon-color-error-down: var(--spectrum-global-color-red-700);
  --spectrum-tag-s-removable-texticon-text-color-key-focus: var(--spectrum-alias-tag-text-color-key-focus);
  --spectrum-tag-s-removable-texticon-text-color-selected: var(--spectrum-alias-tag-text-color-selected);
  --spectrum-tag-s-removable-texticon-text-color-selected-key-focus: var(--spectrum-alias-tag-text-color-selected);
  --spectrum-tag-s-removable-texticon-text-color-error-key-focus: var(--spectrum-alias-tag-text-color-error-key-focus);
}
